@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    overflow-x: hidden;
}

::selection {
    color: #000;
    background-color: #fff;
}

.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    color: #fff;
    background-color: rgba(39, 60, 117, 0.7);
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px 0 20px 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

h2::after {
    content: '';
    display: block;
    background-color: #fff;
    height: 4px;
    width: 100px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
}

ul li {
    list-style: none;
}

ul li a:link,
ul li a:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgba(25, 42, 86, 1.0);
    background-color: #fff;
    padding: 10px 20px;
    transform: scale(1);
    transition: all 0.3s;
}

ul li a:active,
ul li a:hover {
    border-radius: 15px 0 15px 0;
}

.instraction {
    max-width: 500px;
}

.instraction p {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.instraction ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
}

.instraction ul li {
    color: #fff;
}

.instraction a {
    text-decoration: none;
    color: #fff;
}

.home {
    width: 50px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.home img {
    width: 80%;
    padding: 5px;
    text-align: center;
}